body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #735DA5;
}

.chat-container {
    width: 400px;
    background-color: #D3C5E5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.chat-messages {
    max-height: 300px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.chat-messages p {
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

#message-input {
    width: calc(100% - 70px);
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#send-button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

#send-button:hover {
    background-color: #0056b3;
}
